#Content13_0.l6aj8q2zijm-editor_css {
  background-clip: ;
  background-image: url(http://opendata.library.sh.cn/assets/img/bg4.jpg);
}
#Content13_0 .title-wrapper > .l6anxvvf04f-editor_css {
  color: #fbfbfb;
}
#Content13_0 .title-wrapper > .l6ajr83f3w-editor_css {
  color: #fbfbfb;
  background-color: rgba(0, 0, 0, 0);
}
#Content13_0 .title-wrapper > .l6ao0fv5u2f-editor_css {
  color: #fbfbfb;
}
